<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<!-- 购物车列表的内嵌页-->

<div>
    <div class="OneBdy_box">
        <div class="One_tabTop">
            <div class="One_Topleft">
                <span>全部商品 </span>

            </div>

        </div>
        <div class="One_ShopTop">
            <ul>
                <li><input type="checkbox" class="allCheck">全选</li>
                <li>商品</li>
                <li>单价</li>
                <li>数量</li>
                <li>小计</li>
                <li>操作</li>
            </ul>
        </div>

        <div class="One_ShopCon">
            <ul>
                <li th:each="cartInfo:${cartList}">
                    <div></div>

                    <div>
                        <ol>
                            <li><input type="checkbox" class="check" th:attr="cartInfoId=${cartInfo.id}"  th:value="${cartInfo.skuId}"
                                       onchange="checkSku(this)"
                                       th:checked="(${cartInfo.isChecked}==1)?'true':'false'"/></li>
                            <li>
                                <dt><img th:src="${cartInfo.imgUrl}" src="img\shop1.jpg" alt=""></dt>
                                <dd th:onclick="'toItem('+${cartInfo.skuId}+')'">
                                    <p>
                                        <span th:text="${cartInfo.skuName}">TCL 55A950C 55英寸32核</span>
                                    </p>
                                </dd>
                            </li>
                            <li>
                                <p class="dj" th:text="'￥'+${cartInfo.skuPrice}">4599.00</p>
                            </li>
                            <li>
                                <p>
                                    <span>-</span>
                                    <span th:text="${cartInfo.skuNum}">5</span>
                                    <span>+</span>
                                </p>
                            </li>
                            <li style="font-weight:bold"><p class="zj" th:text="'￥'+${cartInfo.CartPrice}">￥22995.00</p>
                            </li>
                            <li>
                                <a th:attr="cartInfoId=${cartInfo.id}" class="deleteSingle">删除</a>
                            </li>
                        </ol>
                    </div>
                </li>




            </ul>
        </div>
        <div class="One_ShopFootBuy fix1">
            <div>
                <ul>
                    <li><input type="checkbox" class="allCheck"><span>全选</span></li>
                    <li id="deleteBatch">删除选中的商品</li>
                    <li>移到我的关注</li>
                    <li>清除下柜商品</li>
                </ul>
            </div>
            <div>
                <font style="color:#e64346;font-weight:bold;" class="sumNum"> </font>&nbsp;

                <ul>
                    <li><img src="img/buyNumleft.png" alt=""></li>
                    <li><img src="img/buyNumright.png" alt=""></li>
                </ul>
            </div>
            <div>
                <ol>
                    <li>总价:<span style="color:#e64346;font-weight:bold;font-size:16px;" class="fnt"
                                 th:text="${totalPrice}">￥0.00</span></li>

                </ol>
            </div>
            <div>
                <button onclick="toTrade()" type="button">去结算</button>
            </div>
        </div>
    </div>

</div>

</body>


<script language="JavaScript">

    //界面加载完成之后
    $(function(){

        //批量删除
        $("#deleteBatch").click(function(){

            var arr = new Array();  //创建一个数组，用来存放勾选商品的id

            //获取选中项
           var checkCartInfo = $(".check:checked");

           if(checkCartInfo.length <= 0){ //说明没有选择任何商品，不能删除

               layer.msg('请先选择需要删除商品！', {
                time: 3000 //20s后自动关闭
               });

               return false;
           }

            //询问框
            layer.confirm('您确定要删除选中的商品吗？', {
                btn: ["确定",'取消'] //按钮
            }, function(){

                //alert(checkCartInfo.length);
                $.each(checkCartInfo,function(){  //遍历所有勾选的商品

                    var cartInfoId =  $(this).attr('cartInfoId');
                    arr.push(cartInfoId);
                });

                var CartInfoids =  arr.join(","); //得到字符串的id组合

                deleteCartInfo(CartInfoids);

            }, function(){
            });

        });

        //单个删除
        $(".deleteSingle").click(function(){
            var cartInfoId =$(this).attr('cartInfoId');
            //询问框
            layer.confirm('您确定要删除该商品吗？', {
                btn: ["确定",'取消'] //按钮
            }, function(){

                deleteCartInfo(cartInfoId);

            }, function(){
            });

        });

        function deleteCartInfo(ids) {
            //向后台发送ajax请求
            $.post(
                "deleteCartInfo",
                {ids:ids,_method:"DELETE"},
                function(result){
                    if(result.code == 0){
                        //alert(result.msg);
                        layer.msg(result.msg, {
                            time: 2000 //20s后自动关闭
                        });
                        window.location.href="http://cart.gmall.com:8084/cartList";
                    }

                });
            
        }


        //商品删除鼠标移入变色
        $(".deleteSingle").mouseover(function(){
            $(this).css({"cursor":"pointer","color":"#e64346"});
        }).mouseout(function(){
            $(this).css({"cursor":"pointer","color":"gray"});
        })

    });


</script>

</html>