<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-----------------弹出框----------------------------->
<div id="spu_dlg" class="easyui-dialog" title="编辑SPU" style="width:700px;height:520px;"
     closed="true" data-options="iconCls:'icon-save',resizable:true,modal:false" buttons="#spuBtns">
    <form id="spuForm">
        <br/>
        <label>spu名称:</label>
        <input id="spuName" name="spuName" class="easyui-textbox" data-options="" style="width:300px;"/>
        <br/><br/>
        <label>spu描述:</label>
        <input id="description" name="description" class="easyui-textbox" data-options="multiline:true"
               style="width:500px;height:100px"/>

        <input id="spuId" name="spuId" type="hidden"/>
        <br/><br/>

        <!----------------商品图片列表 ----------------------->

        <table id="spuImgDg" class="easyui-datagrid" title="商品图片列表"
               data-options="singleSelect:true,method:'get',toolbar:'#spuImgTootbar'"></table>

        <!----------------图片列表工具栏----------------------->
        <div id="spuImgTootbar" style="padding:5px;height:auto">
            <div style="margin-bottom:5px">
                <a href="#" id="spuImgAdd" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加图片</a>
                <a href="#" id="spuImgUploadBtn" class="easyui-linkbutton" iconCls="icon-save" plain="true">图片上传</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
            </div>
        </div>

        <br/><br/>
        <!----------------销售属性列表---------------------------->
        <table id="spuSaleAttrDg" class="easyui-datagrid" title="销售属性列表"
               data-options="singleSelect:true,method:'get',toolbar:'#spuSaleAttrTootbar'"></table>

        <!----------------销售属性列表工具栏----------------------->
        <div id="spuSaleAttrTootbar" style="padding:5px;height:auto">
            <div style="margin-bottom:5px">
                <a href="#" id="spuSaleAttrAddBtn" class="easyui-linkbutton" iconCls="icon-add"
                   onclick="addSpuSaleAttr()" plain="true">添加销售属性</a>
                <a href="#" id="spuSaleAttrEditBtn" class="easyui-linkbutton" iconCls="icon-edit" plain="true"
                   onclick="editSpuSaleAttr()">编辑销售属性</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
            </div>
        </div>

        <div th:include="spuSaleAttrPage"></div>

    </form>
</div>
<!----------------弹出框的按钮组----------------------->
<div id="spuBtns">
    <a href="#" class="easyui-linkbutton" onclick="saveSpu()">保 存</a>
    <a href="#" class="easyui-linkbutton" onclick="closeSpu()">关 闭</a>
</div>


<script language="JavaScript">

    //==============SPU编辑对话框：关闭按钮========================
    function closeSpu() {
        $('#spu_dlg').dialog('close');
    }
    
    //==============SPU编辑对话框：保存按钮========================
    function saveSpu() {

        var spuName = $("#spuName").textbox("getValue");

        if(spuName == ""){
            $.messager.alert('信息', 'SPU名称不能为空.', 'warning');
            return;
        }

        /*
         * 1、获取SPU名称、SPu描述
         * 2、获取销售属性列表数据
         * 3、发送ajax请求，保存数据
         * 4、关闭对话框
         * */
        // 封装spuInfo的对象,作为请求参数
        var spuInfo = {};


        var description = $("#description").textbox("getValue");

        var catalog3Id = $("#ctg3ForSpuList").combobox("getValue");

        //console.log("获取spuName:"+spuName);
        //console.log("获取spuDescription:"+description);


        var salAttrRows = $("#spuSaleAttrDg").datagrid("getRows");
        //console.log("获取salAttrRows:" + JSON.stringify(salAttrRows));

        spuInfo["spuName"] = spuName;
        spuInfo["description"] = description;
        spuInfo["catalog3Id"] = catalog3Id;

        //遍历销售属性
        $.each(salAttrRows, function (i) {

            var saleAttrId = this.id;
            spuInfo["spuSaleAttrList[" + i + "].saleAttrId"] = saleAttrId;
            spuInfo["spuSaleAttrList[" + i + "].saleAttrName"] = this.saleAttrName;

            //将销售属性值的json对象，拆分 一行一行的 销售属性值，再 来遍历
            var spuSaleAttrValueJsonRows = this.spuSaleAttrValueJson.rows;

            //遍历一行 一行 的销售属性值
            $.each(spuSaleAttrValueJsonRows, function (j) {

                //这里 需要传入 仍为销售属性id
                //不需要传入 销售属性值id
                spuInfo["spuSaleAttrList[" + i + "].spuSaleAttrValueList[" + j + "].saleAttrId"] = saleAttrId;
                spuInfo["spuSaleAttrList[" + i + "].spuSaleAttrValueList[" + j + "].saleAttrValueName"] = this.saleAttrValueName;

            });

        });

        //===============获取上传的图片信息===============spuImageList
        var spuImgDg = $("#spuImgDg").datagrid("getRows");
       // console.log("获取上传的图片信息:"+spuImgDg )

        $.each(spuImgDg,function (k) {
            spuInfo["spuImageList[" + k + "].imgName"] = this.imgName;
            spuInfo["spuImageList[" + k + "].imgUrl"] = this.imgUrl;

            //console.log("imgName:"+this.imgName );
            //console.log("imgUrl:"+this.imgUrl );
        })



        //console.log("提交到后台的参数:" + JSON.stringify(spuInfo));

        //向后台发起请求
        $.post(
            "saveSpu",
            spuInfo,
            function (result) {
                if (result.code == 0) {
                    //成功后给出提示
                    $.messager.show({
                        title: '提示',
                        msg: result.msg,
                        timeout: 1000,
                        showType: 'fade',
                        style: {
                            right: '',
                            bottom: ''
                        }
                    });

                    //添加成功后，刷新商品列表界面
                    reloadSpuList();
                }
            }
        )

        //关闭SPU编辑界面
        $('#spu_dlg').dialog('close');

    }


    function initSpuInfoDlg(spuInfo) {

        //初始化图片表格
        initSpuImgListDatagrid();

        //初始化上传控件
        initUploader();

        //初始化销售属性列表
        initSpuSaleAttrListDatagrid();


    }

    //=============初始化上传控件======================
    function initUploader() {
        var spuImgDg = $("#spuImgDg");
        //初始化上传控件
        var spuImgUploader = WebUploader.create({
            auto: false,
            // swf文件路径
            swf: '/webuploader/Uploader.swf',
            // 文件接收路径
            server: '/fileUpload',
            // 选择文件的按钮。
            pick: '#spuImgAdd',
            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false,
            //设定文件大小上限 2M
            fileSingleSizeLimit: 2 * 1024 * 1024,
            //可接受的文件类型
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });

        //当用户选择了文件以后，表格要进行增行
        spuImgUploader.on('fileQueued', function (file) {
            console.log("用户增加文件:" + file.id + '||' + file.name);
            var row = {
                fileId: file.id,
                imgName: file.name
            }
            spuImgDg.datagrid('appendRow', row);
        });

        //上传过程中，该进度会反复触发
        spuImgUploader.on('uploadProgress', function (file, percentage) {
            var rowIndex = spuImgDg.datagrid('getRowIndex', file.id);
            var progessRow = {progress: (percentage * 100).toFixed(2)};
            spuImgDg.datagrid('updateRow', {index: rowIndex, row: progessRow});
        });

        //console.log("上传完成：" + file.id + "||" + response._raw);
        //console.log("上传完成response：" +JSON.stringify(response));
        // 上传成功时，要把生成的图片路径返回给表格的行中的url
        spuImgUploader.on('uploadSuccess', function (file, response) { //ajax异步上传时返回的data
            var fileId = file.id;
            var rowIndex = spuImgDg.datagrid('getRowIndex', file.id);//通过file.id查询到行号
            spuImgDg.datagrid('updateRow',
                {
                    index: rowIndex,
                    row: {imgUrl: response._raw}
                });
        });

        $('#spuImgUploadBtn').click(function () {
            console.log("开始上传");
            if (spuImgUploader.getFiles().length <= 0) {
                $.messager.alert('警告', '没有需要上传的文件', 'warning');
                return;
            }
            spuImgUploader.upload();
        });
    }


    //====================初始化图片表格============
    function initSpuImgListDatagrid(spuInfo) {

        //清空之前的 图片列表
        $('#spuImgDg').datagrid('loadData', {total: 0, rows: []});

        spuImgDg = $("#spuImgDg").datagrid({
            idField: 'fileId',    //标识行的主键  可以利用getRowIndex进行查询
            columns: [[
                {field: 'fileId', title: '文件编号', width: '15%'},//隐藏文件页面内部编号
                {
                    field: 'imgName', title: '图片简称', width: '20%',
                    editor: {
                        type: 'validatebox', options: {required: true}  //必填项
                    }
                },
                {field: 'imgUrl', title: '图片路径', hidden: false},  //隐藏真实路径
                {
                    field: 'progress', title: '上传进度', width: '20%',
                    formatter: function (value, row, index) {
                        if (!value) {
                            value = 0;
                        }
                        var htmlstr =
                            "<div class='easyui-progressbar progressbar' style='width:100px;height:20px;' value='" + value + "' text='" + value + "'%>" +
                            "<div class='progressbar-text'  style='width: 100px; height: 20px; line-height: 20px;'>" + value + "%</div>" +
                            "<div class='progressbar-value' style='width:" + value + "%; height: 20px; line-height: 20px;'>" +
                            "<div class='progressbar-text' style='width: 100px; height: 20px; line-height: 20px;'>" + value + "%</div>" +
                            "</div>" +
                            "</div>";
                        return htmlstr;
                    }
                },
                {
                    field: 'imgState', title: '上传状态', width: '20%',   //如果存在路径表示上传成功
                    formatter: function (value, row, index) {

                        console.log('row.imgUrl:' + row.imgUrl);

                        if (row.imgUrl != undefined && row.imgUrl != '') {
                            return '已上传';
                        } else {
                            return '等待上传';
                        }
                    }
                }
            ]],
            onDblClickRow: function (rowIndex, rowData) {
                //双row.imgUrl击开启编辑行
                spuImgDg.datagrid("beginEdit", rowIndex);
                //设定当失去焦点时,退出编辑状态
                var imgName = rowData.imgName;
                $("input.datagrid-editable-input").val(imgName).bind("blur", function (evt) {
                    spuImgDg.datagrid('endEdit', rowIndex);
                });
            },
            view: detailview,
            detailFormatter: function (rowIndex, rowData) {
                return "<img src=" + rowData.imgUrl + " style='width:100px;height:100px;'>";
            }
        });
//        if (spuInfo) {
//            spuImgDg.datagrid({url: "spuImageList?spuId=" + spuInfo.id});
//        }

    }

    //初始化销售属性列表
    function initSpuSaleAttrListDatagrid(spuInfo) {

        //清空之前的 销售属性列表
        $('#spuSaleAttrDg').datagrid('loadData', {total: 0, rows: []});


        datagrid = $('#spuSaleAttrDg').datagrid({
            columns: [[
                {field: 'id', title: '销售属性编号', width: '30%'},
                {field: 'saleAttrName', title: '销售属性名称', width: '30%'},
                {field: 'spuSaleAttrValueJson', title: '销售属性值暂存', width: '40%'}
            ]]
        });


    }

    //=================打开  【销售属性详细页面】对话框
    function addSpuSaleAttr() {

        $('#spuSaleAttr_dlg').dialog('open');

        //初始化
        initSpuSaleAttrDlg();

    }

</script>

</body>
</html>